
<div class="container" style="max-width:600px;margin:60px auto; background: rgba(51,204,204,0.3)">
	<form role="form">
	   <div class="col-md-14 mb-3">
      <label for="validationServer01">Nombre</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Nombre" required>      
    </div>
    <div class="col-md-14 mb-3">
      <label for="validationServer02">Apellido</label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Apellido" required>      
    </div>

    <div class="col-md-14 mb-3">
    
        <label for="validationServer03">Ciudad</label>
        <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Ciudad" required>
         
    </div>
    <div class="col-md-14 mb-3">
      <label for="validationServerUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
        </div>
        <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
      </div>
    </div>
	  <div class="form-group">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Aceptar terminos y condiciones
        </label>      
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
	</form>
</div>

